[project]
	description = Kernel tree for Qualcomm chipsets
[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/*"]
	owner = group kernel-owners
[access "refs/heads/android-msm-bullhead-3.10-marshmallow-mr1-eas"]
	label-Code-Review = -2..+2 group eas-devs
	submit = group eas-devs
