[project]
	description = Kernel tree for MSM7XXX family and Android on MSM7XXX
[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
[access "refs/*"]
	owner = group kernel-owners
	forgeAuthor = group kernel-admin
	forgeCommitter = group kernel-admin
[access "refs/heads/*"]
	create = group kernel-admin
	push = +force group kernel-admin
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group kernel-approvers
	label-Code-Review = -2..+2 group kernel-approvers
	submit = group kernel-approvers
[access "refs/tags/*"]
	pushTag = group kernel-admin
