
# Fuel Gauge

config FUELGAUGE_STC3117
	tristate "STC3117 fuel gauge driver"
	default n
	depends on I2C
	help
	 Say Y to include support
	 for STC3117 fuel gauge driver for batteries.
	 This driver source code implemented
	 all functions for STC3117 fuel gauge.

