config COMMON_CLK_RV1108
	bool "Clock driver for Rockchip RV1108"
	depends on (ARCH_ROCKCHIP && ARM) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM

config COMMON_CLK_RK3036
	bool "Clock driver for Rockchip RK3036"
	depends on (ARCH_ROCKCHIP && ARM) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM

config COMMON_CLK_RK3188
	bool "Clock driver for Rockchip RK3066 and RK3188"
	depends on (ARCH_ROCKCHIP && ARM) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM

config COMMON_CLK_RK3228
	bool "Clock driver for Rockchip RK3228 and RK3229"
	depends on (ARCH_ROCKCHIP && ARM) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM

config COMMON_CLK_RK3288
	bool "Clock driver for Rockchip RK3288"
	depends on (ARCH_ROCKCHIP && ARM) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM

config COMMON_CLK_RK3328
	bool "Clock driver for Rockchip RK3328"
	depends on (ARCH_ROCKCHIP && ARM64) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM64

config COMMON_CLK_RK3368
	bool "Clock driver for Rockchip RK3368"
	depends on (ARCH_ROCKCHIP && ARM64) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM64

config COMMON_CLK_RK3399
	bool "Clock driver for Rockchip RK3399"
	depends on (ARCH_ROCKCHIP && ARM64) || COMPILE_TEST
	default ARCH_ROCKCHIP && ARM64
