config MLX5_INFINIBAND
	tristate "Mellanox Connect-IB HCA support"
	depends on NETDEVICES && ETHERNET && PCI && MLX5_CORE
	---help---
	  This driver provides low-level InfiniBand support for
	  Mellanox Connect-IB PCI Express host channel adapters (HCAs).
	  This is required to use InfiniBand protocols such as
	  IP-over-IB or SRP with these devices.

config MLX5_INFINIBAND_VERBOSE
	bool "Enable ConnectX-4/Connect-IB verbosity"
	depends on MLX5_INFINIBAND
	---help---
	  This is a configuration option to enable verbose output to easy debug.
