
config STMVL6180
	tristate "STM VL6180 Proximity support"
	depends on I2C=y
	default y
	help
	  Say Y here if you want to use STMicroelectronics's proximity sensor
	  through I2C interface.

	  To compile this driver as a module, choose M here: the
	  module will be called stmvl6180.

